*{
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 12px;
    color: black;
    margin-top: auto;
}

body{
    background-color: rgb(255, 255, 255);

}



.prof{
    width: 90%;
    height: 50%;
}

h1{
    font-size: 20px;
    color: black;
}

p{
    font-size: 15px;
    color: black;
}

h2{
    font-size: 20px;
    color: black;
}